<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.syncloud.android" >

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".SyncloudApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.DevicesSavedActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_devices"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DevicesDiscoveryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_discovery"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AuthActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/NoActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AuthCredentialsActivity"
            android:label="@string/title_activity_auth_credentials"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/DialogTheme" >
        </activity>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    </application>

</manifest>
