<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.syncloud.android" >

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:name="org.syncloud.android.SyncloudApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.DevicesSavedActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DeviceAppsActivity"
            android:label="@string/title_activity_device"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="org.syncloud.android.activity.app.Owncloud"
            android:label="@string/title_activity_owncloud"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="org.syncloud.android.activity.app.Remote_Access"
            android:label="@string/title_activity_remote__access"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.DeviceActivateActivity"
            android:label="@string/title_activity_insider"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.DevicesDiscoveryActivity"
            android:label="@string/title_activity_discovery"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
